@import "../../../styles/global";

.about {

  &__why {
    overflow: hidden;
    display: flex;
    justify-content: center;
    //align-items: center;
    gap: 1em;
    margin-top: .5em;

    &-item {
      flex: 0 0 calc(50% - 0.5em);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-head {
        text-align: center;
        padding: 1em .5em;
        background: rgba(74, 83, 63, .8);
        color: get-color(text-light);
        border-radius: 1em;
        margin-bottom: .5em;
        max-width: 100%;
        width: 100%;
      }

      & img{
        border-radius: 1em;
      }
    }
  }
}