@import '@/styles/global.scss';

//.phone__number{
//  position: fixed;
//  top: 10px;
//  left: 50%;
//  transform: translateX(-50%);
//  background-color: get-color(accent-orange);
//  z-index: 1000;
//  color: white;
//  border-radius: 20px;
//  padding: .5em 1em;
//}